@(basketProduct: Form[CreateBasketProductForm], products: Seq[Product], baskets: Seq[Basket])(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
   @request.messages(key)
}

@main("Welcome to Ebiznes") {
  @form(routes.BasketProductController.add()) {

	  <select name="product_id" id="product_id">
		@for(prod <- products){
			<option value="@prod.id">@prod.id @prod.name @prod.description</option>
		}
	  </select>


	  <select name="basket_id" id="basket_id">
	  @for(basket <- baskets){
		  <option value="@basket.id">@basket.id @basket.user_id @basket.total_price </option>
	  }
	  </select>


	  @inputText(basketProduct("quantity"))

	  @CSRF.formField	<div class="buttons">
			<input type="submit" value="Add to basket"/>
		</div>
	}
}
