@(order: Form[CreateOrderForm], baskets: Seq[Basket])(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
   @request.messages(key)
}

@main("Welcome to Ebiznes") {
  @form(routes.OrderController.add()) {


	  <select name="basket_id" id="basket_id">
	  @for(basket <- baskets){
		  <option name="Basket_id" value="@basket.id">@basket.id @basket.user_id @basket.total_price </option>
	  }
	  </select>

		@CSRF.formField

		<div class="buttons">
			<input type="submit" value="Create Order"/>
		</div>
	}
}
