@(pay: Form[CreatePayForm], orders: Seq[Order])(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
   @request.messages(key)
}

@main("Welcome to Ebiznes") {
  @form(routes.PayController.add()) {


	  <select name="order_id" id="order_id">
	  @for(order <- orders){
		  <option name="order_id" value="@order.id">@order.basket_id </option>
	  }
	  </select>

		@CSRF.formField

		<div class="buttons">
			<input type="submit" value="Paid"/>
		</div>
	}
}
