@(productType: Form[CreateProductTypeForm], products: Seq[Product] )(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
	@request.messages(key)
}

@main("Welcome to Ebiznes") {
	@form(routes.ProductTypeController.add()) {

		@inputText(productType("product_type"))


		<select name="product_id" id="product_id">
		@for(product <- products){
			<option name="product_id" value="@product.id">@product.description @product.price </option>
		}
		</select>

		@CSRF.formField

		<div class="buttons">
			<input type="submit" value="Create product type"/>
		</div>
	}
}
